:root{
    --color-tekstlogo: #212121;
    --color-logotype: #2196F3;
    --color-phone: #757575;
    --color-team: #F5F4FA;
    --color-white: #FFFFFF;
    

}
body {
font-family: 'Roboto';


}
.logo {
    font-family: 'Raleway';
}
.hero-text {
    line-height: 1.36;
}
.hero-button {
    line-height: 1.875;
}
.section2-list-item-text {
    line-height: 1.71;
}
address {
    line-height: 1.71;
}
.mainlist-item {
    line-height: 1.625;
}
.box-title {
    line-height: 2;
}
.box-text {
    line-height: 1.875;
}
