:root{
    --color-tekstlogo: #212121;
    --color-logotype: #2196F3;
    --color-phone: #757575;
    --color-team: #F5F4FA;
    --color-white: #FFFFFF;
    

}
body {
font-family: 'Roboto';


}
.logo {
    font-family: 'Raleway';
}
.logo2 {
    font-family: 'Raleway';
}
.hero-text {
    line-height: 1.36;
}
.hero-button {
    line-height: 1.875;
}
.section2-list-item-text {
    line-height: 1.71;
}
address {
    line-height: 1.71;
}
.mainlist-item {
    line-height: 1.625;
}
.box-title {
    line-height: 2;
}
.box-text {
    line-height: 1.875;
}
.container{
max-width: 1170px;
margin: 0 auto;
padding: 0 15px;

}
.nav-list{
padding-top: 32px;
}
.logo {
    text-decoration: none;
    
}
.hero-text {
    margin-top: 200px;
}
.section2-list {
    list-style: none;
    margin-top: 94px;
    margin-bottom: 94px;
}
.section3-list {
    list-style: none;
    padding-bottom: 94px;
}
.sectionteam-title {
margin-top: 94px;
margin-bottom: 50px;



}
.sectionteam-list {
    margin-bottom: 94px;
    list-style: none;
}
.logo2 {
    margin-top: 60px;
}
.sectionteam-list-item-text {
    padding-bottom: 94px;
}
.phone {
    margin-bottom: 60px;
}
.mainlist {
margin-top: 94px;
margin-bottom: 50px;

}
.box-list {
list-style: none;
padding-bottom: 94px;

}